@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{ /*Background cor creme*/
    margin: 0;
    padding: 0;
    background-color: #fbd5b3;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    object-fit: cover;
    object-position: center;

}

.Rato{ /* Animação do cachorro*/
    width: 100%;
    right: 100%;
    top: 24%;   
    position: absolute;
}

h2{
    font-family: Secular One;
    font-size: 3vw;
    left: 8vw;
    top: 11vw;
    position: absolute;
}

.Logo{ /*Logo Vira-latas*/
    width: 50%;
    left: 20%;
    padding-left: 0%;
    padding-top: 4%;
    position: absolute;
}

.recuperar {  /* Box branca de login*/
    background-color: rgb(255, 245, 227);
    width: 50%;
    height: 100%;
    top: 0%;
    left: 50%;
    position: absolute;
}

.recuperar input {
    display: flex;
    width: 90%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.recuperar input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background: #fbd5b3;
    outline: none;
    height: 50px;
    color: black;
    font-size: 20px;
    margin-top: 20vw; 
}
.formulario{
    margin-top: 40%;
}

.recuperar input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: #fbd5b3;
    outline: none;
    height: 50px;
    color: black;
    font-size: 20px;
    margin-top: 0%;
}

.area-botao{
    width: 100%;
    height: 10%;
    
}

.botao{
    font-family: Secular One;
    border-radius: 5px;
    width: 25%;
    height: 60%;
    align-items: center;
    border: solid 1px;
    font-size: 2vw;
    margin-bottom: 3%;
    margin-left: 5%;
}


.botao:hover{
    font-family: Secular One;
    border-radius: 5px;
    background-color: #ff8138;
    cursor: pointer;
    
}
