body{
    background-image: url(../img/background.jpg);

}

.box-direita{
    background-color: white;
    width: 50%;
    height: 100%;
    top: 0%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;

    
    
    
}

.box-esquerda{
    width: 50%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    box-sizing: border-box;

}


#conteiner-img{
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

}

#conteiner-img img{
    max-width: 50%;
    max-height: 50%;
}

img {
    width: 90%;
    
    
}
