@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{ /*Background cor creme*/
    margin: 0;
    padding: 0;
    background-color: #fbd5b3;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    object-fit: cover;
    object-position: center;

}

.Gato{ /* Animação do gato*/
    height: 65%;
    right: 95%;
    top: 20%;   
    position: absolute;
}

h1{
    font-family: Secular One;
    font-size: 3vw;
    left: 20vw;
    top: 23%;
    position: absolute;
}

.Logo{ /*Logo Vira-latas*/
    width: 50%;
    left: 20%;
    padding-left: 0%;
    padding-top: 4%;
    position: absolute;
}

.Cadastro {  /* Box branca de login*/
    background-color: rgb(255, 245, 227);
    width: 50%;
    height: 100%;
    top: 0%;
    left: 50%;
    position: absolute;
}

.Cadastro input {
    display: flex;
    width: 90%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.Cadastro input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background: #fbd5b3;
    outline: none;
    height: 50px;
    color: black;
    font-size: 20px;
    margin-top: 37%;
}

.Cadastro input[type="email"] {
    border: none;
    border-bottom: 1px solid white;
    background: #fbd5b3;
    outline: none;
    height: 50px;
    color: black;
    font-size: 20px;
    margin-top: 0%;
}

.Cadastro input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: #fbd5b3;
    outline: none;
    height: 50px;
    color: black;
    font-size: 20px;
    margin-top: 0%;
}