body{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 212, 176);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    object-fit: cover;
    object-position: center;

}

.box-direita{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    top: 0%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;  
}



.Cachorro{
    width: 40%;
    padding-left: 8%;
    padding-top: 10%;    
    position: absolute;
    box-sizing: border-box;
}
